{% extends 'Page/vacation.base.html.twig' %}

{% block title %}Create new VacationRequest{% endblock %}

{% block body %}
    {#{{ dump() }}#}
    {% for type, messages in flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}

    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm-8">
                <h2 class="text-center">Create Vacation Request</h2>
                <form action="{{ base }}/vacations/users/createVacationRequest/{{ user.id }}" method="post" target="_self">
                    <div class="form-group">
                        <label for="startDate">Start Date</label>
                        <div class='input-group date'>
                            <input name="entity[startDate]" type="text" value="" class="form-control" id="startDate" placeholder="Start date" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="endDate">End Date</label>
                        <div class='input-group date'>
                            <input name="entity[endDate]" type="text" value="" class="form-control" id="endDate" placeholder="End date" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Save</button>
                    </div>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>

{% endblock %}